.scroller {
    position: absolute;
    opacity: 0.6;
    height: 100%;
    width: 100%;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    width: 100%;
}

.input-group {
    width: 400px;
    left: 70px;
}
.angucomplete-holder {
    position: relative;
    float: left;
    border: 1px solid black;
    border-right: #FFFFFF;
}

#dropdownMenu1 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7.27px;
}

.search {
    position: relative;
    height: 83.3%;
}

#angu1_dropdown {
    height: 96.5%;
    max-height: 100%;
    overflow: hidden;
    padding-right: 8px
}


.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -5px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 10px;
    color: #adadad;
    text-align: right;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}


.container-fluid {
    width: 100%;
    height: 100%;
}

.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-control-small {
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    width: 72%;
}

.form-control:-webkit-autofill {
    background-color: #fff !important;
}


.form-control-fill {
    width: 96%;
}

#form-group-updated {
    width: 35%;

}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.dropdown-description {
    display: none;
}

@media screen and (min-width: 400px) {
    .dropdown-description {
        display: block;
        position: absolute;
        right: 70px;
        top: 15px;
        max-width: 200px;
        background-color: #000000;
        color: #ffffff;
        border-radius: 4px;
        padding: 6px;
        padding-left: 10px;
        padding-right: 10px;
        opacity: 0.8;
    }
}

.dropdown {
    width: 160px;
    position: absolute;
    right: 33px;
    top: 0px;
    z-index: 100;
    padding: 0px;
    text-align: left;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
}

.dropdown-icon {
    margin-bottom: 0px;
    padding: 5px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-icon:hover {
    background-color: #fb8200;
}

.dropdown-orange {
    background-color: #FFA300;
    color: #ffffff;
}

.ng-cloak {
    display: none;
}


.search-box {
    position: relative;
    border-style: solid;
    border-color: #F2F2F2;
    border-width: 2px;
    border-radius: 4px;
    padding: 6px;
    background-color: #ffffff;
    margin-top: 10px;
}

.search-box-entry {
    padding-left: 10px;
}

.search-box-entry-input {
    width: 80%;
    border-style: none;
    font-size: 18px;
}

.search-box-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-box-entry-input:focus {
    outline: 0;
}

.lead {
    font-size: 22px;
}

.centered {
    text-align: center;
}


.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-control-small {
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    -ms-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    width: 72%;
}

.form-control:-webkit-autofill {
    background-color: #fff !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error-handler-title {
    font-size: 50px;
    color: #ffffff;
}

.error-handler-text {
    font-size: 22px;
    color: #ffffff;
}

.icon-spaced {
    margin-left: 5px;
}

.form-control-fill {
    width: 96%;
}

.relative {
    position: relative;
}


.highlight {
    color: #ff0000;
}

form input.ng-invalid-autocomplete-required {
    border-color: red;
}

.valid-status {
    display: inline-block;
    margin-left: 10px;
}

.valid-status.valid {
    color: green;
}

.valid-status.invalid {
    color: red;
}

.console {
    margin-left: 30px;
    font-family: Monaco;
    font-size: 12px;
    color: #ccc;
}

.small-input {
    width: 30%;
}


html, body {
    position: relative;
    height: 100%;
}



#map {
    height:100%;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
    padding-top: 10px;
}
.angucomplete-holder {
    margin-top: 0px;
}
.title h1 {
    text-align :center;
}

/*
#loader {
    background: url('../img/loader.gif') no-repeat center center;
    width: 480px;
    height: 259px;
    margin: 0 auto;
    
}*/
    
#loader {
    background: url('../img/loader.gif') no-repeat center center;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    
}

.show {
    opacity: 1;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.hide {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    opacity: 0;
}

#borderForMap {
    border: 1px solid;
}

#borderForSearch {
    border-style: solid;
    padding-bottom: 150px;
    border-width: 0px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    background: #f2faf1;
}

#borderForMenu {
    margin-top: 0px;
    padding-bottom: 20px;
    border: 1px solid;
    border-top: 0px;
    background: #E9F2E7;
}

.borderForMenuOptions {
    border: solid;
    padding-bottom: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background: #f2faf1
}

.labelsForMenu{
    text-align: left;
    margin-top: 10px;
}

#filterText {
    text-align: center;
}

.contextmenu{
    visibility:hidden;
    background:#ffffff;
    border:1px solid #8888FF;
    z-index: 10;
    position: relative;
    width: 140px;
}
.contextmenu div {
    padding-left: 5px
}

.add-menu {
    padding: 0;
    list-style-type: none;
    font-size: 10px;
    margin: 4px 0;
}

.add-menu li {
    padding: 6px 12px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.add-menu li:hover {
    background-color: #F2F2F2;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}

.all-container {
    width:100%;
    height: 100%;
}

.search-container {
    float:left;
    position: relative;
    width: 260px;
    height: 100%;
}

.map-container {
    margin-left: 260px;
    height: 100%;
}

.search-list-container {
    height: 100%;
}

.angucomplete-holder {
    height: 100%;
    width: 100%;
}

.title {
    font-size: 36px;
    text-align :center;
    margin: 24px 0;
}

.title span {
    font-size: 14px;
    color: #888888;
}

.map-container {
    position: relative;
}
.show-buttons {
    position: absolute;
    top: 53px;
    left: 11px;
    z-index: 99999;
}

.clicked {
    font-weight: bold;
}

.show-buttons button {
    display: block;
    border: none;
    margin-top: 6px;
    width: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}


