<!DOCTYPE html>
<html lang="en" ng-app="lymap">
<head>

    <!--To ensure proper rendering and touch zooming for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">
    <title>Managing organization units - Lymap</title>
    <link rel="manifest" href="manifest.webapp" />

        <!-- Bootstrap CSS and Themes-->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>

    <!-- Main styling CSS -->
    <link rel="stylesheet" href="css/styles.css"/>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather,visualization,panoramio&sensor=true"></script>
    <script type="text/javascript" src="js/markerclusterer.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angucompleter.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>

    <style></style>
</head>

<body>
	
 <!-- Navigation Bar - Eirik in progress-->
 <nav class="navbar navbar-default">
   <div class="container-fluid">
    <div class="row0" ng-controller="mapController">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">
        <p><b>Lymap Organisation units</b>.</p>
      </a>
    </div><!-- navbar-header -->

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <div class="input-group" style="width: 200px;">

         <angucomplete-alt id="ex0"
         placeholder="Search Organisation Unit"
         maxlength="50"
         pause="100"
         selected-object="unitSelected"
         local-data="allUnits"
         search-fields="name"
         title-field="name"
         minlength="1"
         input-class="form-control form-control-small"
         match-class="highlight">
       </angucomplete-alt>


       <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>

    </div>
  </div>
</form>

</div>
</div> 
</nav>

	<br>
    <!-- Container for the whole thing-->
	<div class="container-fluid">

        <!-- icon loading before disappearing-->
		<!--<div id="loader" class="show"></div> -->

        <!--- Span rows, required for Bootstrap Grid to work-->
        <div class="row" ng-controller="mapController">

            <!-- Border to the left: Map -->
            <div class="col-lg-8 col-md-8 col-sm-4" id="borderForMap">
                <div class="map-container">
                  <h2>Organisation map</h2>
                  <div id="map-wrapper" class="hide"></div>
                  <div id="map"></div>
                </div>
            </div>


            <!-- Formset Hihcael ongoing -->
            <form class="form-horizontal">
              <fieldset>
                  <!-- Form Name -->
                  <legend>Organisation Parameters</legend>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Name</label>  
                    <div class="col-md-4">
                      <input ng-model="formInput" name="textinput" type="text" placeholder="organisation" class="form-control input-md">
                      <span class="help-block">Submit when finished</span>
                    </div>
                  </div>
              </fieldset>
            </form>


            

            <!-- Border to the right: Menu, Search and other options -->
            <div class="col-lg-4 col-md-4 col-sm-8">


              <!-- hichael console  -->
              <div id="form-group-updated">
               <label for="inputlg">State</label>
               <input class="form-control input-lg" ng-model="output" type="text">
              </div>

                <!-- Temporary border for search -->
                <div class="col-lg-12 col-md-12 col-sm-12" id="borderForSearch">
                  <h2 align="center">Search</h2>
                  <div angucomplete-alt id="ex1"
                  placeholder="Search Organisation Unit"
                  maxlength="50"
                  pause="100"
                  selected-object="unitSelected"
                  local-data="allUnits"
                  search-fields="name"
                  title-field="name"
                  minlength="1"
                  input-class="form-control form-control-small"
                  match-class="highlight">
                  </div>
                </div>

                <!-- Menu box -->
                <div class="col-lg-12 col-md-12 col-sm-12" id="borderForMenu">
                    <h2 align="center">Menu</h2>

                    <!-- Menu: Actions box -->
                    <div class="col-lg-12 col-md-12 col-sm-12 borderForMenuOptions">
                        <label class="labelsForMenu">Actions</label>
                        <div class="row">


                          <!--Actions box: Find Me button-->
                          <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                            <button type="button" class="btn btn-default btn-md" ng-click="getCurrentLocation()">
                              <span class="glyphicon glyphicon-map-marker"></span> Find Me
                            </button>
                            <div class="col-lg-6 col-md-6 col-sm-6">{{ waitForPositionMessage }}</div>
                          </div>

                          <!--Actions box: Add new button-->
                          <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                            <button type="button" class="btn btn-default btn-md" ng-click="addFacility()">
                              <span class="glyphicon glyphicon-plus"></span> Add facility
                            </button>
                          </div>

                          <!--Actions box: Submit form button-->
                          <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                            <button type="button" class="btn btn-default btn-md" ng-click="submitForm()">
                              <span class="glyphicon glyphicon-plus"></span> Submit
                            </button>
                          </div>

                        </div>
                    </div>

                    <!-- Menu: Border Options -->
                    <div class="col-lg-12 col-md-12 col-sm-12 borderForMenuOptions">
                        <label class="labelsForMenu">Border options</label>
                    </div>

                    <!-- Menu: Filter results -->
                    <div class="col-lg-12 col-md-12 col-sm-12 borderForMenuOptions">
                        <label class="labelsForMenu">Filter results</label>
                    </div>


                    <!-- TESTING! Menu: Coordinates -->
                    <div class="col-lg-12 col-md-12 col-sm-12 borderForMenuOptions">
                        <label class="labelsForMenu">Coordinates</label>
                        <p>Latitude:</p> {{ position.coords.latitude }}
                        <p>Longitude:</p> {{ position.coords.longitude }}
                    </div>


                </div>
            </div>
		</div>
	</div>

</body>
</html>
